{% extends 'layout.html' %}
{% block titulo %}
<title>Jogo do Galo</title>
{% endblock %}

{% block conteudo %}
<script src="static/sk.js"></script>
<!-- as imagens não apaercem -->
<center>
<h1>Jogo do Galo</h1>
<a href="JavaScript:f(0)"><img src="static/Nada.png"></a>
<a href="JavaScript:f(1)"><img src="static/Nada.png"></a>
<a href="JavaScript:f(2)"><img src="static/Nada.png"></a><br>
<a href="JavaScript:f(3)"><img src="static/Nada.png"></a>
<a href="JavaScript:f(4)"><img src="static/Nada.png"></a>
<a href="JavaScript:f(5)"><img src="static/Nada.png"></a><br>
<a href="JavaScript:f(6)"><img src="static/Nada.png"></a>
<a href="JavaScript:f(7)"><img src="static/Nada.png"></a>
<a href="JavaScript:f(8)"><img src="static/Nada.png"></a><br>
<br>
<br>
<input type="button" value="Novo Jogo" onclick="Javasript:reset()">
{% endblock %}
