<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <link rel="shortcut icon" href="static/sport-zone-.jpg">
    <meta charset="UTF-8">
    <title>Sport Zone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<center>
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="V">Primavera/Verão</a>
        <a href="F">Futebol</a>
        <a href="C">Ciclismo</a>
        <a href="login">Login</a>
        <a href="Registo">Registo</a>
        <a href="Galo">Galo</a>

    </div>

    {% block conteudo %}
    {% endblock %}

    <h1>&copy 2019 Ricardo Oliveira</h1>

</center>

<div class="footer">
    <div class="left-footer">
        <p>Contacto:707 100 206</p>
        <p>Morada:R. dos Congregados 18, 4710-427 Braga</p>
        <p>Gmail:sportzone@gmail.com</p>
    </div>



</div>
</body>
</html>
