<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <link rel="shortcut icon" href="static/sport-zone-.jpg">
    <meta charset="UTF-8">
    <title>Sport Zone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<center>
    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="V">Primavera/Verão</a>
        <a href="F">Futebol</a>
        <a href="C">Ciclismo</a>
        <a href="login">Login</a>
    </div>

    {% block conteudo %}
    {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>&copy 2019 Ricardo Oliveira</h1>

</center>
</body>
<footer class="footer>"
        <div class="icons">
            <div class="email">
                <i class="fas fa-envelope"></i>
                <p> sportzone@.com </p>
            </div>

            <div class="marker">
                <i class="fas fa-map-marked-alt"></i>
                <p>Rua dos Congregaods 18,4710-427 Braga</p>
             </div>
        </div>
        <div class="info">
            <br>
            <div>
                <div>
                    <a href="https://www.instagram.com/sportzonept/" target="_blank"><i class="fab fa-instagram"></i></a>

                </div>
            </div>
        </div>


</html>
