<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <title>Esmax</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

    <div class="navbar">
        <a class="active" href="/">Home</a>
        <a href="p1">Search</a>
        <a href="p2">Contact</a>
        <a href="p3">Login</a>
    </div>

    {% block conteudo %}
    {% endblock %}

    <h1>&copy 2019 Ricardo Oliveira/h1>

</body>
</html>
